// 
// Headers
// 
header 
{
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 0;
	color: $white;
	// background-color: $white;
	&::after 
	{
		position: absolute;
		content: ' ';
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 4rem;
		background-image: url('../assets/img/upperborder.png');
		background-size: cover;
		background-position: center bottom;
		background-repeat: no-repeat;
	}
}

.header_menu
{
	& > li 
	{
		display: inline-block;
		width: 33.33333%;
		margin-right: -4px;
		line-height: 2.5rem;
		color: $dark-gray;
	}
}


// 
// Canvas
// 
.canvas
{
	position: relative;
	height: 100vh;
	transition: height 9999s ease;
}

// Slides
div[class*='for__slide']
{
	@extend %background;
	@include breakpoint(medium)
	{

	}
}

.for__slide_1
{
	color: $light-gray;
	background-image: url('../assets/stock/1_pot_meat.jpg');
	// background-color: #987987;
}

.for__slide_2
{
	// background-image: url('../assets/stock/2_pad.jpg');
	// background-color: #1e1e24;
	background-color: #white;
}

.for__slide_3
{
	background-image: url('../assets/stock/2_pad.jpg');
	// background-color: #765765;
}




// Onboard
.onboard 
{
	&.is__name 
	{
		text-align: center;
		p 
		{
			margin: 4.5rem 0 -0.5rem;
			font-size: 2.5rem;
			font-weight: 300;
			@include breakpoint(medium)
			{
				margin: 6rem 0 -0.5rem;
			}
		}
		span 
		{
			font-size: 1.25rem;
			font-weight: 300;
		}
	}
	// current stat
	&.is__current
	{
		margin-top: 1rem;
		font-size: 1.5rem;
		@include breakpoint(medium)
		{
			margin-top: 2.5rem;
			font-size: 2rem;
		}
	}
	&.is__cursor
	{
		color: $-ci-tmt;
		font-size: .875rem;
		font-weight: 400;
		animation: cursor_shining 2s infinite;
		@include breakpoint(medium)
		{
			font-size: 1.25rem;
		}
	}
	&.is__subscribe 
	{
		text-align: center;
		@include breakpoint(medium)
		{
			text-align: right;
		}
	}
	&.is__buttons
	{
		text-align: center;
		@include breakpoint(medium)
		{
			text-align: left;
		}
	}
}

// 訂閱 input 欄位
.to__subscribe
{
	-webkit-appearance: none;
	margin-bottom: 0;
	border: 2px solid lighten($-ci-darkblue, 20%);
	&:focus
	{
		color: $white;
		@include tran(bg, $-ci-darkblue, .85);
		border: 2px solid transparent;
		outline: 0;
		box-shadow: none;
	}
}

.the__email_microcopy
{
	@include tran(color, $light-gray, .75);
	font-size: .75rem;
}


// Onboard: Animations
// Cursor effect
@keyframes cursor_shining 
{
	0%, 
	100%   
	{
		opacity: 0;
	}
	50% 
	{ 
		opacity: .5;
	}
}


// Copywriting
.cpywr 
{
	text-align: center;
	// @include breakpoint(medium)
	// {
	// 	text-align: left;
	// }
}

.is__head
{
	margin: 10vh 0 .5rem;
	font-size: 2rem;
	font-weight: 700;
	color: $-ci-tmt;
}
.is__main
{
	color: lighten($-ci-darkblue, 10%);
	font-size: 1.125rem;
}
.is__featured
{
	color: $-ci-tmt;
	font-weight: 700;
}
.is__long1
{
	padding: 0 1rem;
	text-align: left;
	color: $dark-gray;
	line-height: 1.625em;
	@include breakpoint(medium)
	{
		line-height: 2em;
	}
}




footer 
{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: .75rem 0;
	width: 100%;
	color: $white;
	@include tran(bg, $black, .75);
}