// 
// Logo
// 
.the_logo
{
	display: inline-block;	
	height: auto;
	background-image: url('../assets/img/cooooookather_logo.svg');
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	&.in__main
	{
		width: 80%;
		@include breakpoint(medium)
		{
			width: 50%;
		}
	}
	&.in__left
	{
		width: 100%;
	}
}

// 
// Icons
// 
.icon 
{
	display: inline-block;
	background-repeat: no-repeat;
}

.o_vt
{
	background-size: auto 100%;
}

.o_hz
{
	background-size: 100% auto;
}


.s__xxlarge
{
	width: 48px;
	height: 48px;
}


.is__veg_basket
{
	background-image: url('../assets/icon/veg_basket.svg');
}

.is__kitchenware
{
	background-image: url('../assets/icon/kitchenware.svg');
}


// 
// Buttons
// 
.button
{
	font-weight: 700;
}

// CTA: Email
.for__cta_em
{
	color: $white;
	background-color: $-ci-darkblue;
	border: 2px solid transparent;
	&:hover,
	&:focus
	{
		background-color: darken($-ci-darkblue, 8%);
	}
}

// CTA: More
.for__cta_more 
{
	color: $-ci-tmt;
	background-color: transparent;
	border: 2px solid;
	&:hover,
	&:focus
	{
		color: $white;
		background-color: $-ci-tmt;
		border: 2px solid $-ci-tmt;
	}
}




// Animations
.paused 
{
	animation: cursor_shining .75s 1 !important;
}
